ion-toolbar {
    background-color: #009ca6 !important;
}
.listBorder {
    padding-bottom: 20px;
    padding-right: 10px;
}
.buttonTool {
    height: 100%;
  }
  .margin {
    
    margin-top: 10px;
  }