<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="./assets/img/proCapLogo.png">
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="./assets/img/pier151.png">
    <ion-card-header>

        
      <ion-list>
        
        <ion-item class="ion-activatable ripple-parent" button (click)="startReport()" detail>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          <ion-card-title>Start New Inspection</ion-card-title>
        </ion-item>
      
        <ion-item detail lines="none" button (click)="inspections()">
          <ion-card-title>View Previous Reports</ion-card-title>
        </ion-item>

      </ion-list>

    </ion-card-header>
 
  </ion-card>
  <!-- <ion-row class="ion-justify-content-start">
    <ion-card (click)="startReport()">
      <div class="icon">
        <ion-icon name="newspaper-outline"></ion-icon>
      </div>
      <div id="label">
        <ion-label>Start a new inspection</ion-label>
      </div>
    </ion-card>
    <ion-card (click)="admin()">
      <div class="icon">
        <ion-icon name="settings"></ion-icon>
      </div>
      <div id="label">
        <ion-label>Admin</ion-label>
      </div>
    </ion-card>
  </ion-row> -->
  <!-- <ion-button class="appVersion" expand="full" (click)="logout()">Sign Out</ion-button> -->
   <!-- <ion-button class="appVersion" expand="full" (click)="getInspect()">Get Inspect</ion-button>  -->

   <!-- <ion-button expand="full" (click)="whoIsLoggedIn()">Who is Logged In</ion-button> -->
   <!-- <ion-button expand="full" (click)="sendPasswordReset()">Send Password Reset</ion-button> -->
</ion-content>