ion-toolbar {
    background-color: #009ca6 !important;
}
ion-card {
    margin-top: 40px;
    height: 200px;
    width: 50vw;
}
#icon {
    height: 100px;
    width: 100px;
}
ion-icon {
    height: 80px;
    width: 80px;
    vertical-align: middle;
    padding-left: 60px;
    padding-top: 20px;
}
#label {
    width: 100%;
    padding-top: 20px;
    text-align: center;
}