ion-toolbar {
  background-color: #009ca6 !important;
}
ion-segment {
  background-color: #009ca6;
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  --border-radius: none !important;
}
ion-title {
  --color: #fff;
}
ion-segment-button {
  height: 40px;
  border-radius: 0;
  font-size: 14px;
  background-color: #009ca6;
  color: #fff;
  --color-checked:#fff;
}
ion-segment-button:activated {
  background-color: #009ca6;
}
.comments {
  margin: 20px;
  border: 1px solid;
}
ion-input {
  flex-direction: row;
  align-content: flex-end;
  text-align: right;

  width: 20px;

}
.rowZ{
  display: flex;
}
.buttonTool {
  height: 100%;
}
.margin {
  padding-bottom: 20px;
  margin-top: 10px;
}
ion-button {
  --color: #fff;
  --background: #009ca6;
}