#bottom {
  position: relative;
  bottom: 0;
  margin-bottom: 30px;
  --background-color: #009ca6 !important;
}
.labelField {
  font-size: 16px !important;
}
.color {
  --color: #fff;
  --background-color: #009ca6 !important;
  margin-bottom: 60px;
}
.heroCard {
  --color: #fff;
  --background: #009ca6 !important;
}
.clientLabel {
  font-size: 18px;
}
body {
  font-family: "Shanti", sans-serif;
}
ion-badge {
  background-color: #ffd700;
  padding: 10px;
}
#person {
  vertical-align: middle;
  padding-right: 20px;
}
ion-toolbar {
  background-color: #009ca6 !important;
  height: 100%;
  padding: 0;
}
.ion-activated {
  background-color: #fff;
  background: #fff;
  --color-activated: none;
  border-bottom-color: #fff;

}

.testPadding 
ion-avatar {
  width: 128px;
  height: 128px;
}

.preview {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
}
ion-list {
  width: 100%;
}
.labelHead {
  display: flex;
  padding-left: 10px;
  padding-bottom: 14px;
  height: 100%;
}
ion-icon {
  width: 23px;
  height: 23px;
  vertical-align: center;
}
.checklistLabel {
  font-size: 18px;
}
.fallback {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #bfbfbf;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.commentHeader {
  --background: #009ca6 !important;
  --color: #fff;
  display: flex;
  font-size: 18px;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.chkList {
  --color: #fff;
  --background: #009ca6 !important;
  align-items: center;
  height: 48px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px !important;
  padding-bottom: 0px;
}
.comLabel {
  display: flex;
  align-items: center;
}
.textAreaCard {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.textAreaInput {
  padding-right: 0px !important;
}
.comments textarea {
  height: 200px;
  margin: 20px;
  border: 1px solid;
}
.imageCard {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  background-color: #009ca6;
  color: #fff;
  padding: 14px;
  height: 48px;
}
.padding {
  padding-top: 20px;
}
.padding-bottom {
  padding-bottom: 0px;
  margin-bottom: 0;
}
.button {
  flex-direction: row;
  align-self: flex-end;
  order: 2;
}
.label {
  flex-direction: row;
  justify-content: flex-start;
  order: 1;
}
.headd {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrowButton {
  display: flex;
  vertical-align: middle;
  align-self: center;
  padding: 0;
  color: #009ca6;
}

.btnColor {
  --color: #fff;
  --background: #009ca6 !important;
}
ion-textarea {
  width: 100vw;
}
.textAreaItem {
  margin: 0;
  padding: 0;
}
