#bottom {
  position: relative;
  bottom: 0;
  margin-bottom: 30px;
  --background-color: #009ca6 !important;
}
.color {
  --color: #fff;
  --background-color: #009ca6 !important;
  margin-bottom: 60px;
}
body {
  font-family: "Shanti", sans-serif;
}
ion-badge {
  background-color: #ffd700;
  padding: 10px;
}
#person {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}
ion-toolbar {
  background-color: #009ca6 !important;
}
.ion-activated {
  background: #fff;
  --color-activated: none;
}
ion-avatar {
  width: 128px;
  height: 128px;
}

.preview {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
}
ion-list {
  width: 100%;
}

.fallback {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #bfbfbf;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.comments {
    margin: 10px;
}
.comments textarea {
    height: 200px;
  margin: 20px;
  border: 1px solid;
}
.imageCard {
  font-size: 18px;
  background-color: #009ca6;
  color: #fff;
}
.button {
  flex-direction: row;
align-self: flex-end;
order: 2;

}
.label {
  flex-direction: row;
  justify-content: flex-start;
  order: 1;
}
.headd {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrowButton {
  display: flex;
  vertical-align: middle;
  align-self: center;
  padding: 0;
}

.btnColor {
  --color: #fff;
  --background: #009ca6 !important;
}