ion-toolbar {
    background-color: #009ca6 !important;
}
ion-input {
    text-align: right;
}
.padding{
    padding-bottom: 20px;
}
.buttonTool {
    height: 100%;
  }
  .margin {
    padding-bottom: 20px;
    margin-top: 10px;
  }