ion-toolbar {
    background-color: #009ca6 !important;
    
}
.bold {
    font-weight: bolder;
}
ion-button {
    margin-top: 25px;
    background: #009ca6;
    color: #fff;
}
ion-card-title {
    font-size: 18px;
    padding-left: none;
}

ion-card {
    padding-bottom: 20px;
}
.ionHeads {
    padding-left: 0;
}
ion-card-subtitle {
    font-size: 16px;
}
ion-title {
    color:#fff;
}