<ion-header>
  <ion-toolbar color=#009ca6>
    <ion-title>Client Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div *ngIf="client">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="client.fullName"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Vessel Name</ion-label>
      <ion-textarea [(ngModel)]="client.vesselName"></ion-textarea>
    </ion-item>

    <div *ngIf="client?.vesselPhoto; else placeholder_vessel">
    <ion-item >
      <ion-label position="stacked">Vessel Photo</ion-label>
      <ion-img (click)="selectImage()" [(ngModel)]="client.vesselPhoto" name="client.vesselPhoto" [src]="client.vesselPhoto"></ion-img>
    </ion-item>
  </div>

  <ng-template #placeholder_vessel>
    <div >
      <ion-item >
        <ion-label position="stacked">Vessel Photo</ion-label>
        <ion-input (click)="selectImage()" placeholder="Click to Upload Image" name="client.vesselPhoto" [(ngModel)]="client.vesselPhoto"></ion-input>
      </ion-item>
    </div>

  </ng-template>

    <ion-item>
      <ion-label position="stacked">Number of Engines</ion-label>
      <ion-textarea [(ngModel)]="client.noEngines"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Client Email</ion-label>
      <ion-textarea [(ngModel)]="client.email"></ion-textarea>
    </ion-item>

    <ion-button class="btnColor" expand="block" (click)="updateClient()">
      <ion-icon name="save" slot="start"></ion-icon>
      Update
    </ion-button>
    <ion-button expand="block" color="danger" (click)="deleteClient()">
      <ion-icon name="trash" slot="start"></ion-icon>
      Delete
    </ion-button>
  </div>

  <div *ngIf="setting">
    <ion-item>
      <ion-label position="stacked">Db Name</ion-label>
      <ion-input [(ngModel)]="setting.name"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">DB Value</ion-label>
      <ion-textarea [(ngModel)]="setting.value" rows="8"></ion-textarea>
    </ion-item>

    <ion-button  class="btnColor" expand="block" (click)="updateSetting()">
      <ion-icon name="save" slot="start"></ion-icon>
      Update
    </ion-button>

  </div>
 
 
 
</ion-content>
