<ion-header>
  <ion-toolbar color=#009ca6>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">Client Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <div *ngIf="client">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="client.fullName"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Vessel Name</ion-label>
      <ion-textarea [(ngModel)]="client.vesselName"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="!photoData">
      <ion-label position="fixed">Ship Photo</ion-label>
      <ion-button slot="end" class="top" (click)="goToBoatImg()">Upload Ship Photo
        <ion-icon slot="end" name="chevron-forward"> </ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="photoData">
      <ion-label position="floating" lines="none">Ship Photo
       
      </ion-label>
      <img *ngIf="photoData" [src]="photoData"/>

    </ion-item>

    <ion-item>
      <ion-label position="stacked">Number of Engines</ion-label>
      <ion-textarea [(ngModel)]="client.noEngines"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Client Email</ion-label>
      <ion-textarea [(ngModel)]="client.email"></ion-textarea>
    </ion-item>

    <ion-button class="btnColor" expand="block" (click)="updateClient()">
      <ion-icon name="save" slot="start"></ion-icon>
      Update
    </ion-button>
    <ion-button expand="block" color="danger" (click)="deleteClient()">
      <ion-icon name="trash" slot="start"></ion-icon>
      Delete
    </ion-button>
  </div>
 
</ion-content>
