ion-toolbar {
  background-color: #009ca6 !important;
}
.addButton {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #009ca6 !important;
}
ion-icon {
  width: 20px;
  padding-right: 10px;
}
ion-list-header {
  margin-bottom: 20px;
}
.btnColor {
  --color: #fff;
  --background: #009ca6 !important;
}

.iconWidth {
  width: 40px;
}
.label {
  font-size: 18px;
  // padding-left: 20px;
}

.container {
  display: flex;
  width: 100vw;
  flex-wrap:nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.middle {
  flex-direction: column;
  flex-grow: inherit;
}
.label2 {
  font-size: 12px;
}
.pad {
  max-width: 60px;
}
// .end {
//   align-self: flex-end;
// }